@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 20% 15%;

    --card: 0 0% 100%;
    --card-foreground: 210 20% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 20% 15%;

    --primary: 184 68% 56%;
    --primary-foreground: 187 60% 97%;

    --secondary: 210 20% 96%;
    --secondary-foreground: 210 20% 20%;

    --muted: 210 20% 94%;
    --muted-foreground: 210 10% 45%;

    --accent: 210 20% 94%;
    --accent-foreground: 210 20% 20%;

    --destructive: 4 76% 54%;
    --border: 210 20% 90%;
    --input: 210 20% 90%;
    --ring: 184 68% 56%;
    --radius: 0.625rem;
  }

  .dark {
    --background: 0 0% 100%;
    --foreground: 210 20% 15%;

    --card: 0 0% 100%;
    --card-foreground: 210 20% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 20% 15%;

    --primary: 184 68% 56%;
    --primary-foreground: 187 60% 97%;

    --secondary: 210 20% 96%;
    --secondary-foreground: 210 20% 20%;

    --muted: 210 20% 94%;
    --muted-foreground: 210 10% 45%;

    --accent: 210 20% 94%;
    --accent-foreground: 210 20% 20%;

    --destructive: 4 76% 54%;
    --border: 210 20% 90%;
    --input: 210 20% 90%;
    --ring: 184 68% 56%;
    --radius: 0.625rem;
  }
}
